div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h1.page-header Admin Panel:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6
        li
          a(href='admin/campaigns') Campañas
          a(href='admin/users') Usuarios
