div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-lg-12(class='centerColumn')
      h1 {{campaign.name}}
      h4 by {{user.name}}
      .col-lg-1
      .col-lg-10(class='containerStyles')
        .col-lg-9
          img.fit(alt='{{campaign.name}}', src='{{campaign.imageUrl}}')
        .col-lg-3
          h2 #Backers
          h4 Backers
          h2 $00,000
          h4 recaudado de $00,000
          .progress
            .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
                span.sr-only 40% Complete
          h2 {{expire}}
          h4 para terminar la campaña

          btn.btn-warning.btn-lg.btn-block(type='button') Doná
        .col-lg-9
          h2 Detalles de la campaña
          p {{campaign.info}}

        .col-lg-3
          h2 Mapa
          <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      .col-lg-1
