extends ./../../main.jade
block content
  .centerColumn
    h1 {{campaign.name}}
    h4 by {{campaign.user.name}}
    .containerStyles
      .first-row
        .col-lg-7.img-wrapper
          img.fit(alt='{{campaign.name}}', ng-src='{{campaign.imageUrl}}')
        .col-lg-5.donate-details
          h2 #Backers
          span Backers
          .recaudado
            span.recaudado Recaudado&nbsp;
              span(ng-if="campaign.campaignType==0") $
              {{campaign.currentAmount}}
            span.total de&nbsp;
              span(ng-if="campaign.campaignType==0") $
              {{campaign.totalAmount}}
            .progress
              .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{campaign.percentageAmount()}}%;')
                  span.sr-only {{campaign.percentageAmount()}} Complete
            btn.btn-warning.btn-lg.btn-block(type='button') Doná
          .countdown
            span.expire-number {{expire}}
            span.expire-text para terminar la campaña
      .line-div
      .second-row
        .col-lg-7
          h2 Detalles de la campaña
          p.campaign-text {{campaign.info}}

        .col-lg-5
          h2 Mapa
          ui-gmap-google-map(center='map.center', zoom='map.zoom')
            ui-gmap-marker(coords='campaign.coords',idKey="marker-campaign._id")
          .address <span>Direccion: </span>{{campaign.address}}
