.btn-warning.btn-lg.btn-block{
  backgorund-color:#ff8000;
  text-align:center;
  margin-top:10px;
}
.centerColumn{
  text-align:center;
  color: white;
  padding: 10px 0px;
}

.containerStyles{
  margin: 10px  80px;
  padding:30px;
  background-color: #f16856;
  border-color: #f16856;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align:center;
  overflow: auto;
  color: #ffba00;
}

.angular-google-map-container {
  height: 300px;
}
.centerColumn .progress .progress-bar {
  backgorund-color:#ff8000;
}

.img-wrapper img{

  max-width: 600px;
  max-height: 500px;
}

.address span{

  font-weight: bold;
  font-size: 20px;
}

.containerStyles .donate-details h2{

  margin: 0px;
  font-weight: bold;
}

.containerStyles .donate-details div.recaudado{

  text-align: center;
  padding: 25px 25%;
  background: #43c0b5;
  margin-top: 10px;

}

.containerStyles span.recaudado{
  display:block;
  font-weight: bold;
  color: #6a3e25;
  font-size: 32px;
}

.containerStyles span.total{

  display:block;
  font-weight: bold;
  color: #ffba00;
  font-size: 32px;
}

.containerStyles .countdown{

  background: #43c0b5;
  margin: 10px 0px;
  padding: 10px 10px;
  text-align: center;
}

.containerStyles .first-row{

  overflow: hidden;
}

.containerStyles .line-div{

  border-bottom: 1px solid;
  padding: 10px;
  color: white;
}

.containerStyles .second-row .campaign-text{

  color: white;
  font-size: 20px;
  text-align: left;
  padding: 10px 0px;
}

.containerStyles .expire-number{

  display: block;
  font-size: 50px;
}

.containerStyles .expire-text{

  display: block;
  font-size: 20px;
  font-weight: bold;
}
.paddingValues{
  padding:30px;
}
.paddingTop {
  padding-top:20px;
}
.paddingValues .centralText {
  padding-left:50px;
}
.borderImage {
  border: 5px #ffffff solid;
}
.backgroundWhite {
  background-color: #ffffff;
}
.colorBrown {
  color: #6A3E25;
  font-weight: bold;
  font-size:14px;
  text-align:left;
}

.colorWhite {
  color: #ffffff;
  font-weight: bold;
  font-size:14px;
  text-align:left;
}
.colorPink {
  color: #f16856;
  font-weight: bold;
  font-size:16px;
}
.greyBox {
  border:1px solid #cccccc;
  background-color: #ECECEC;
  margin:20px;
}
.greyBoxMini {
  border:1px solid #cccccc;
  background-color: #ECECEC;
}
.colorWhiteTitle {
  color: #ffffff;
  font-weight: bold;
  font-size:22px;
  text-align:left;
  text-transform:uppercase;
  margin-left:20px;
}

.colorBrownTitle {
  color: #6A3E25;
  font-weight: bold;
  font-size:22px;
  text-align:left;
  text-transform:uppercase;
  margin-left:20px;
}
.colorBrownBig {
  color: #6A3E25;
  font-weight: bold;
  font-size:16px;
  text-align:left;
  padding-bottom:10px;
  text-transform:uppercase;
}

.colorWhiteBig {
  color: #ffffff;
  font-weight: bold;
  font-size:16px;
  text-align:left;
  padding-bottom:10px;
  text-transform:uppercase;
}

.campaignProgressBar {
  background-color:#f16856;
}

.progressBarContainer {
  background-color: #ffba00;
  height: 20px;
}
.linkReporte {
  color: #f16856;
  font-weight: bold;
  font-size:16px;
  text-decoration:underline;
  float:right;
  padding-right:20px;
}


.details-buttons .reportButton{

  border: 4px #6A3E25 solid;
  background: #FFFFFF;
  color: #6A3E25;
  font-weight: bold;
  padding: 3px 3px;
  margin-left: 3%;
  font-size: 19px;
}
