extends ./../../main.jade
block content
  .row
    .col-lg-12.list-page.paddingValues
      .col-lg-2
      .col-lg-8
        .col-lg-5
          img.fit(alt='{{campaign.name}}', src='{{campaign.imageUrl}}',width=300, class='borderImage')
        .col-lg-7.centralText
          h1 {{campaign.name}}
          h4 por {{user.name}}

          p {{campaign.info}}
          .row
            .col-lg-7.paddingTop
              .progress.progressBarContainer
                .progress-bar.campaignProgressBar(ng-style='setWidth(campaign)', aria-valuemax='100', aria-valuemin='0', aria-valuenow='{{(campaign.currentAmount + 20) / campaign.totalAmount * 100 | number:0}}', role='progressbar')
                  | {{getWidth(campaign)}}
            .col-lg-5
              p
              .colorBrown RECAUDADO &nbsp; &nbsp;
              div(ng-switch="campaign.campaignType")
                .colorPink(ng-switch-when="0") {{campaign.currentAmount | currency:undefined:0}} de {{campaign.totalAmount | currency:undefined:0}}
                .colorPink(ng-switch-default) {{campaign.currentAmount}} de {{campaign.totalAmount}}
          .row
            .col-lg-8.details-buttons
                button.donateButton.btn(type='button',ng-click="open(campaign._id)")| DONA!
                button.reportButton.btn(type='button',ng-click="go('/campaigns/reports')")| VER REPORTE
      .col-lg-2
          img.fit(alt='{{campaign.tipo}}', src='/assets/images/tipo{{campaign.campaignType}}.png', width=100)
     .col-lg-12.backgroundWhite
      .col-lg-1
      .col-lg-10
        .col-lg-1
        .col-lg-5.greyBox
          h2(ng-if="campaign.donationsCount != 0") {{campaign.donationsCount}}
          h2(ng-if="campaign.donationsCount == 0 || campaign.donationsCount == null") 0
          h4 Donaciones
        .col-lg-5.greyBox
          h2 {{expire}}
          h4 para terminar la campaña
        .col-lg-1

      .col-lg-1

    .col-lg-12.list-page
        .col-lg-1
          h3.colorBrown DIRECCION
    .col-lg-12
        img(ng-src="/assets/images/detalleMapa.png")
    .col-lg-12
      .col-lg-3
          h3.colorBrown DATOS DE CONTACTO
    .col-lg-1
    .col-lg-5.greyBox
      h5 Telefono - 4567 8901
    .col-lg-5.greyBox
      h5 Mail - admin@donaciones.com.ar
