.btn-warning.btn-lg.btn-block{
  backgorund-color:#ff8000;
  text-align:center;
  margin-top:40px;
}
.container .row .centerColumn{
  text-align:center;
}

.container .row .containerStyles{
  margin-right:0;
  margin-left: 0;
  padding:30px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align:left;
}

.angular-google-map-container {
  height: 300px;
}
.centerColumn .progress .progress-bar {
  backgorund-color:#ff8000;
}
