.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    /*padding: 30px 15px;*/
    color: black;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: white;
}

.footer {
    text-align: center;
    line-height: 50px;
    background-color:#ffba00;
    color:#ffffff;
}

.campaignTypeRow {
    border-bottom: 1px solid black;
}

.campaignButtons {
    padding-top: 30px;
}

.campaignInfo {
    border-left: 1px solid black;
    padding-top: 30px;
}

.campaignThumbnail {
    height: 100%;
    padding:10px;
}

/*ADDED AFTER*/

.content {
    background-color:#43c0b5;
}

.centralContent {
    padding: 50px 130px;
    height: 380px;
}

.featureCampaignsContainer {
    background-color: #ffffff;
    padding: 0 130px;
    margin-bottom: 30px;
    height: 235px;
}

.featureCampaign{
    padding: 10px 25px;
    height: 100%;
}

.featureCampaignData {
    height: 175px;
}

.centralImageContainer {
    padding: 0 75px;
}

.centralImage {
    margin: auto;
}

.centralText {
    text-align: left;
    color:#ffffff;
}

.campaignProgressBar {
    background-color:#f16856;
}

.progressBarContainer {
    background-color: #ffba00;
    height: 20px;
}