div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .row(ng-repeat="campaign in campaigns")
      .col-md-9
        | {{campaign.name}}
      .col-md-3
        | {{campaign.totalAmount}}


        
footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues