div(ng-include='"components/navbar/navbar.html"')

#banner.hero-unit.content
  block content
    .centralContent
        .col-md-1
        .col-md-5.centralImageContainer
          img.fit.img-responsive.centralImage(alt='', ng-src="assets/images/hand.png")
        .col-md-5.centralText
          h1 DONAR
          p
            | Simple, fácil, rápido y transparente ahora también son sinónimos de donar.
            | Ayudar debería ser una tarea sencilla y donalo.com lo convierte en realidad
          button.listButton.btn(type='button',ng-click="go('/campaigns/list')")
            |  VER OTRAS CAMPAÑAS QUE NECESITAN AYUDA
        .col-md-1

    .featureCampaignsContainer
      .col-sm-4.featureCampaign(ng-repeat="campaign in campaigns")
        .container-fluid
          .row.featureCampaignData
            .col-md-7(style="height:100%;")
              .row(style="height:100%;")
                img.fit.img-responsive.campaignThumbnail(alt='{{campaign.name}}', ng-src='{{"assets/images/tipo" + campaign.campaignType + ".png"}}')
            .col-md-5
              .container-fluid.bebasNeue(ng-switch="campaign.campaignType")
                .row.campaignTitle {{campaign.name}}
                .campaignData
                  .row(ng-switch-when="0") {{campaign.currentAmount | currency:undefined:0}}
                  .row(ng-switch-default) {{campaign.currentAmount}}
                  .row de
                  .row(ng-switch-when="0") {{campaign.totalAmount | currency:undefined:0}}
                  .row(ng-switch-default) {{campaign.totalAmount}}
                  .row
                    button.col-md-12.donateButton.btn(type='button',ng-click="open(campaign._id)")
                      | DONA!
                  .row
                    &nbsp;
          .row
            .progress.progressBarContainer
                .progress-bar.campaignProgressBar(ng-style='setWidth(campaign)', aria-valuemax='100', aria-valuemin='0', aria-valuenow='{{(campaign.currentAmount + 20) / campaign.totalAmount * 100 | number:0}}', role='progressbar')
                  | {{getWidth(campaign)}}

footer.footer
  .container
    span
      | Copyright © 2014
