/******* FONTS ******/

@font-face {
    font-family: BebasNeue;
    src: url(/assets/fonts/BebasNeue_0.otf);
}

.bebasNeue {
    font-family: BebasNeue;
}

@font-face {
    font-family: calibri;
    src: url(/fonts/calibri_0.ttf);
}
@font-face {
    font-family: Calibri-Bold;
    src: url(/fonts/Calibri Bold.ttf);
}
@font-face {
    font-family: Calibri-Italic;
    src: url(/fonts/Calibri Italic.ttf);
}
@font-face {
    font-family: calibril;
    src: url(/fonts/calibril.ttf);
}
@font-face {
    font-family: calibrili;
    src: url(/fonts/calibrili.ttf);
}
@font-face {
    font-family: calibriz;
    src: url(/fonts/calibriz_0.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(/fonts/Oswald-Bold.ttf);
}
@font-face {
    font-family: Oswald-Light;
    src: url(/fonts/Oswald-Light.ttf);
}
@font-face {
    font-family: Oswald-Regular;
    src: url(/fonts/Oswald-Regular.ttf);
}


.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    /*padding: 30px 15px;*/
    color: black;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: white;
}

.footer {
    text-align: center;
    line-height: 50px;
    background-color:#ffba00;
    color:#ffffff;
}

.campaignTypeRow {
    border-bottom: 1px solid black;
}

.campaignButtons {
    padding-top: 30px;
}

.campaignInfo {
    border-left: 1px solid black;
    padding-top: 30px;
}

.campaignThumbnail {
    height: 100%;
    padding:10px;
}

/*ADDED AFTER*/

.content {
    background-color:#43c0b5;
}

.centralContent {
    padding: 50px 130px;
    height: 380px;
}

.featureCampaignsContainer {
    background-color: #ffffff;
    padding: 0 130px;
    margin-bottom: 30px;
    height: 235px;
}

.featureCampaign{
    padding: 10px 25px;
    height: 100%;
}

.featureCampaignData {
    height: 175px;
}

.centralImageContainer {
    padding-right: 75px;
}

.centralImage {
    margin: auto;
}

.centralText {
    text-align: left;
    color:#ffffff;
}

.centralText h1 , .centralText .listButton{
    font-family: BebasNeue;
}

.campaignProgressBar {
    background-color:#f16856;
}

.progressBarContainer {
    background-color: #ffba00;
    height: 20px;
}

/***** BUTTON COLORS ******/

.listButton {
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;
    background-color: #43c0b5;
    border-color: #ffffff;
    color: #ffffff;
    font-size: 22px;
}
 
.listButton:hover, 
.listButton:focus, 
.listButton:active, 
.listButton.active, 
.open .dropdown-toggle.listButton { 
    background-color: #ffffff;
    border-color: #43c0b5;
    color: #43c0b5;
} 
 
.listButton:active, 
.listButton.active, 
.open .dropdown-toggle.listButton { 
  background-image: none; 
} 
 
.listButton.disabled, 
.listButton[disabled], 
fieldset[disabled] .listButton, 
.listButton.disabled:hover, 
.listButton[disabled]:hover, 
fieldset[disabled] .listButton:hover, 
.listButton.disabled:focus, 
.listButton[disabled]:focus, 
fieldset[disabled] .listButton:focus, 
.listButton.disabled:active, 
.listButton[disabled]:active, 
fieldset[disabled] .listButton:active, 
.listButton.disabled.active, 
.listButton[disabled].active, 
fieldset[disabled] .listButton.active { 
  background-color: #43C0B5; 
  border-color: #FFFFFF; 
} 
 
.listButton .badge { 
  color: #43C0B5; 
  background-color: #ffffff; 
}

.donateButton { 
  color: #FFFFFF; 
  background-color: #6A3E25; 
  border-color: #6A3E25;
  font-size:19px;
} 
 
.donateButton:hover, 
.donateButton:focus, 
.donateButton:active, 
.donateButton.active, 
.open .dropdown-toggle.donateButton { 
  color: #FFFFFF; 
  background-color: #6A3E25; 
  border-color: #6A3E25; 
} 
 
.donateButton:active, 
.donateButton.active, 
.open .dropdown-toggle.donateButton { 
  background-image: none; 
} 
 
.donateButton.disabled, 
.donateButton[disabled], 
fieldset[disabled] .donateButton, 
.donateButton.disabled:hover, 
.donateButton[disabled]:hover, 
fieldset[disabled] .donateButton:hover, 
.donateButton.disabled:focus, 
.donateButton[disabled]:focus, 
fieldset[disabled] .donateButton:focus, 
.donateButton.disabled:active, 
.donateButton[disabled]:active, 
fieldset[disabled] .donateButton:active, 
.donateButton.disabled.active, 
.donateButton[disabled].active, 
fieldset[disabled] .donateButton.active { 
  background-color: #6A3E25; 
  border-color: #6A3E25; 
} 
 
.donateButton .badge { 
  color: #6A3E25; 
  background-color: #FFFFFF; 
}

/******************* CAMPAIGN *************************/

.campaignTitle {
    color: #afafaf;
    font-size: 23px;
}

.campaignData {
    color: #f16856;
    font-size: 20px;
}