div(ng-include='"components/navbar/navbar.html"')
.container
  p
    a.btn.btn-default.btn-lg.btn-register(href='/admin/addCampaign')
      | Crear Campaña
  h2
    | Listado de campañas
  ul.list-group
    li.list-group-item(ng-repeat='campaign in campaigns')
      strong {{campaign.name}}
      br
      span.text-muted {{campaign.info}}
      br
      | Dirección 
      span.text-muted {{campaign.address}}
      br
      | Acumulado 
      span.text-muted {{campaign.currentAmount}}
      |  de 
      span.text-muted {{campaign.totalAmount}}
      br
      | Creada: 
      span.text-muted {{campaign.created}}
      br
      | Expira: 
      span.text-muted {{campaign.expires}}
      a.trash(ng-click='delete(campaign)')
        span.glyphicon.glyphicon-trash.pull-right
