extends ./../../main.jade
block content
  .row
    .col-lg-12.list-page.paddingValues
      .col-lg-2
      .col-lg-8
        .col-lg-5
          img.fit(alt='UN TECHO PARA MI PAIS', src='http://localhost:9000/assets/images/hand.png',width=150, class='borderImage')
        .col-lg-7.centralText
          h1 UN TECHO PARA MI PAIS
          h4 por TECHO

          p lalal alala alaala lalala
      .col-lg-2
    .col-lg-12.backgroundWhite
          .col-lg-1
          .col-lg-2.greyBox
            h4 21 de Septiembre a
            h4 3 de Diciembre
            h5 Duracion
          .col-lg-2.greyBox
            h4 71
            h5 Días
          .col-lg-2.greyBox
            h4 45.123
            h5 Donaciones

          .col-lg-2.greyBox
            h4 $100.000
            h5 Requerido
          .col-lg-1
          .col-lg-2.greyBox
            h4 $104.191
            h5 Recaudado
          .col-lg-2.greyBox
            h4 $2,30
            h5 Donacion promedio
    .col-lg-12
      h2.colorWhiteTitle Estadisticas Mensuales
      .col-lg-6
        .h4.colorWhiteBig Cantidad de Donaciones

        .highchart(id='chart1', config='chartConfig')
        h4 &nbsp;
      .col-lg-6
        .h4.colorWhiteBig Cantidad Recaudada

        .highchart(id='chart2', config='chartConfig2')
    .col-lg-12.list-page
      h2.colorBrownTitle Estadisticas Diarias
      .col-lg-6
        .h4.colorBrownBig Cantidad de Donaciones

        .highchart(id='chart1', config='chartConfig')
      .col-lg-6
        .h4.colorBrownBig Cantidad Recaudada

        .highchart(id='chart2', config='chartConfig2')
      h4 &nbsp;
