.list-page{

  background: #FFDD61;
}

.list.tab-wrapper{

  padding: 20px 0px;
  width: 80%;
  margin: 0 10%;
  position: relative;

}

.list.tab-wrapper .nav-tabs{

  border: 0px;

}

.list.tab-wrapper ul.nav-tabs{

  width: 98%;
  margin: 0 1%;
  position: relative;
  z-index: 1

}
.list.tab-wrapper .nav-tabs > li{

  margin: 0px 5px 0px 0px;

}

.list.tab-wrapper .nav-tabs > li.active a{

  padding: 15px 25px 2px 25px;
  margin-bottom: 0px;
  top: 0px;

}

.list.tab-wrapper .nav-tabs a{

    background: #ffffff;
    border: 1px solid #C5C4BF;
    border-bottom: 0px;
    color: #F16858;
    font-weight: bold;
    font-size: 18px;
    top: 7px;
    padding: 10px 15px 3px 15px;

}

.list.tab-wrapper .tab-content{

  border: 1px #C5C4BF solid;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  background: #ffffff;
}
.list .campaign-wrapper{

  display: inline-block;
  width: 40%;
  vertical-align: top;

}

.list .campaign-list{

  min-height: 270px;
  background: #FFFFFF;
  margin: 10px 20px;
  border-bottom: 1px solid;
  border-color: #C5C4BF;
  padding: 15px 0px;
}

.list .campaign-list.empty{

  line-height: 120px;
  text-align: center;
  border: 0px;
}

.list .campaign-list .img-wrapper{

  width: 300px;
  height: 160px;
  line-height: 152px;
  padding: 2px;
  margin: 5px 0px;
  border: 1px solid #D9D1C6;
  text-align: center;
  vertical-align: middle;
}

.list .campaign-list .img-wrapper img{
  max-width: 294px;
  max-height: 154px;
}

.list .campaign-list .progress{
  margin: 5px 0px;
  background: #FFB900;
  height: 22px;
}

.list .campaign-list .progress .progress-bar{

  background: #F16856;
  font-weight: bold;
}


.list .tab-pane .maps{

  width: 300px;
  height: 160px;
  margin: 5px 10px 10px;
  display: inline-block;
  vertical-align: top;
}

.list .maps .angular-google-map-container {
  width: 100%;
  height: 160px;
}

.list .campaign-list .donacion-info{

  text-align: left;

}

.list .donacion-info .recaudado{

  display: block;
  font-weight: bold;
  font-size: 40px;
  color: #6a3e25;
  line-height: 30px;

}

.list .donacion-info .tope{

  display: block;
  font-weight: bold;
  font-size: 20px;
  color: #ffba00;

}

.list .campaign-list .descripcion{

    top: 10px;
    left: 15px;
    position: relative;
    min-height: 60px;
    display: block;
    clear: both;
    text-align: left;
}

.list .campaign-list .descripcion h3{

  color: #693F26;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.list .campaign-list .descripcion .text{
  color: #9F9F9F;
  font-size: 16px;
  font-weight: normal;
}

.list .campaign-list .donacion-info .btn.btn-default{

  background: #6A3E25;
  color: #FFFFFF;
  font-weight: bold;
  padding: 6px 20px;
  margin: 5px 10px 10px 0px;
}

.list .campaign-list .donacion-info .btn.btn-default.contrast{

  border: 4px #6A3E25 solid;
  background: #FFFFFF;
  color: #6A3E25;
  font-weight: bold;
  padding: 3px 14px;

}

.list .campaign-list .donacion-info{

  height: 160px;
}

.list .campaign-list .donacion-info h3{
  margin: 5px 0px 0px;
  color: #9F9F9F;
  font-weight: bold;
  font-size: 25px;

}

.list .campaign-list .donacion-info .recaudado h4{

    margin: 1px 0px;
    font-weight: bold;
    font-size: 15px;
}

.donacion-info .recaudado .text{

    margin: 1px 0px;
    font-weight: bold;
    color: #F16858;
    font-size: 25px;
    letter-spacing: 1px;
}
